# Arquivos compilados do Maven
target/
*.jar

# Arquivos de Log
*.log
logs/

# Arquivos de configuração do Eclipse
.settings/
.project
.classpath

# Arquivos de sistema
.DS_Store

# Arquivos de ambiente
.env